 body {font-family: Trebuchet MS, Helvetica, sans-serif;}
 body {background-color: #95a895; } 
 /* #a0a0a0 is light gray, #000000 is black, #ffffff is white, #ff0000 is red, #00ff00 is green, #0000ff is blue 
 #ff00ff is pinkish, #00ffff is teal, #ffff00 is yellow*/
 #box1,#box2,#box3,#box4  {text-align: center;}

 